<div class="uk-tile uk-tile-secondary uk-padding-small">
    &copy; Giuseppe Magazzù 2017
    <div class="uk-align-right">
        <a href="https://www.facebook.com/giuseppe.magazzu1"  class="uk-icon-button"  uk-icon="icon: facebook"></a>
        <a href="https://www.instagram.com/giuseppe.magazzu"  class="uk-icon-button"  uk-icon="icon: instagram"></a>
        <a href="https://github.com/Darklod/p5sketches"  class="uk-icon-button"  uk-icon="icon: github"></a>
    </div>
</div>