<html>
    <head>
        <% include ../partials/head.ejs%>
    </head>
    <body>
        <header>
            <% include ../partials/header.ejs%>
        </header>
        <section>
            <%- body %>
        </section>
        <footer>
            <% include ../partials/footer.ejs %>
        </footer>
    </body>
</html>