<html>
    <head>
        <% include ../partials/head.ejs%>
    </head>
    <body>
        <header>
            <% include ../partials/header.ejs%>
        </header>
        <section>
            <%- body %>
        </section>
        <footer>
            <% include ../partials/footer.ejs %>
        </footer>
        <script>
            window.onscroll = function(e) {
                $("#scroll").css("opacity", window.scrollY / 100);
            }
        </script>
    </body>
</html>