<% layout('../layouts/main') -%>

<div class="uk-container">
    <h1 class="uk-heading-line uk-text-center"><span>P5 SKETCHES</span></h1>
    <br>
    <div class="uk-grid-match uk-child-width-expand@s uk-flex-center uk-text-center" uk-grid>
        <% list.forEach((item) => { %>
            <div class="uk-width-auto@s">
                <div class="uk-card uk-card-default uk-card-small">
                    <div class="uk-card-media-top">
                        <img src="<%= '../../' + path + '/' + item + '/thumbnail.webp' %>" alt="thumbnail">
                    </div>
                    <div class="uk-card-body">
                        <p><%- link_to(item, '/' + path + '/' + item) %></p>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>

    <span class="uk-icon-button" id="scroll" >
        <a href="" uk-totop uk-scroll></a>
    </span>
</div>