<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.27/css/uikit.min.css" />
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.27/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.27/js/uikit-icons.min.js"></script>

    <style>
        body {
            background: linear-gradient(hsla(40, 100%, 60%, 1), #03A9F4);
        }
        .uk-container>:last-child {
            margin-bottom: auto;
        }
        div.center-form {
            margin: auto;
            height: 200px;
            width: 600px;
            top: 0;
            bottom: 0;
            position: absolute;
            left: 0;
            right: 0;
        }
        @media screen and (max-width: 1200px) {
            div.center-form {
                width: auto;
            }
        }
    </style>
</head>

<body>
    <div class="uk-container">
        <div class="uk-card uk-card-secondary uk-card-body center-form">
            <form class="uk-form-horizontal uk-margin-large" method="post" action="/secret">
                <fieldset class="uk-fieldset">
                    <legend class="uk-legend">Enter the secret code</legend>

                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                            <input class="uk-input" name="secret" type="text" placeholder="code">
                        </div>             
                        <input class="uk-input uk-form-width-small" type="submit" />
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</body>
